<HEAD

=======
body{
    background-color:#94C6F2;
}
h1{
    font-size: 40px;
    text-align: center;
    color:#2E4159;
    }
p1{
    color: #2E4159;
    font-size: 30px;
    text-align: justify;
   }
   p{
    color: #2E4159;
    font-size: 30px;
    text-align: justify;
}
p2{ text-align: center;
    color:rgb(113, 196, 30);
    font-size: 60px;
}
>>>>>>> 019a318bc35910d471157813d02a76c1ea022c8a