body{
    background-color:#94C6F2;
}
h1{
    font-size: 40px;
    text-align: center;
    text-decoration-line: overline;
    color:#2E4159;
    }
p{
    color: #2E4159;
    font-size: 30px;
    text-align: justify;
   }
   p{
    color: #2E4159;
    font-size: 26px;
    text-align: justify;
}
p{ color:aqua;
    font-size: 40px;
    text-align: justify;
}