body{
    background-color:#94C6F2;
}
h1{
    font-size: 40px;
    text-align: center;
    color:#2E4159;
    }
p1{
    color: #2E4159;
    font-size: 30px;
    text-align: justify;
   }
   p{
    color: #2E4159;
    font-size: 30px;
    text-align: justify;
}
p2{ color:rgb(128, 255, 0)#2E4159;;
    font-size: 40px;
    text-align: justify;
}